*.tar.gz
*.exe
*.directory
Makefile*
*.in

#ignore binaries
src/feathercoin
src/feathercoind
src/feathercoin-cli
src/qt/test/test_feathercoin-qt
src/test/test_feathercoin


# ignore files created by autoconf and conf
m4/*
secp256k1/m4/*
src/bitcoin-config.h
src/bitcoin-config.h
src/Makefile.in
Makefile.in
Makefile
share/qt/Info.plist
share/setup.nsi
src/Makefile.in
src/bitcoin-config.h
src/qt/Makefile.in
src/qt/test/Makefile.in
src/test/Makefile.in
src/test/Makefile.in
src/test/test_bitcoin
src/stamp-h1

#ignore files created during make
src/qt/*.moc
*.lo
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/Makefile.in
src/qt/test/moc*.cpp
src/qt/test/test_bitcoin-qt
src/qt/test/Makefile.in


autom4te.cache/
config.log
config.status
configure


.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.bitcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
feathercoin-qt
Feathercoin-Qt.app

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile
